<h1 mat-dialog-title>Update Location</h1>
<!-- <p>Current Location Name: {{ this.currCategory.name }}</p> -->

<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>New Location Name</mat-label>
    <input formControlName="name" matInput required />
    <mat-error *ngIf="!formGroup.controls['name'].valid">
      {{ getErrorLocName() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address</mat-label>
    <input formControlName="address" matInput required />
    <mat-error *ngIf="!formGroup.controls['address'].valid">
      {{ getErroraddress() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Coordinates</mat-label>
    <input formControlName="coordinates" matInput required />
    <mat-error *ngIf="!formGroup.controls['coordinates'].valid">
      {{ getErrorCoordinates() }}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category Name</mat-label>

    <mat-select formControlName="category" required>
      <mat-option *ngFor="let category of categories" [value]="category.name">
        {{ category.name }}
      </mat-option>
    </mat-select>

    <!-- <mat-error *ngIf="!formGroup.controls['category'].valid">
      {{ getErrorCatName() }}
    </mat-error> -->
  </mat-form-field>

  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    cdkFocusInitial
    (click)="updateLocation(formGroup.value)"
    [disabled]="!formGroup.valid"
  >
    Update
  </button>
</form>
