button {
  font-size: larger;
  margin: auto;
  background-color: #9fbbd4;
}
button:hover {
  background-color: #6d92b4;
}
nav {
  overflow: hidden;
  background-color: #d5e0eb;
  position: fixed;
  bottom: 0;
  width: 100%;
}
