button {
  font-size: larger;
  margin: auto;
  background-color: #81a1be;
}
button:hover {
  background-color: #517aa0;
}
nav {
  overflow: hidden;
  background-color: #d5e0eb;
  position: fixed;
  bottom: 0;
  width: 100%;
}
