<h1 mat-dialog-title>Add New Category</h1>

<form [formGroup]="formGroup" class="updateForm">
  <mat-form-field>
    <mat-label>Add Category Name</mat-label>
    <input formControlName="name" matInput required />
    <mat-error *ngIf="!formGroup.controls['name'].valid">
      {{ getErrorCatName() }}
    </mat-error>
  </mat-form-field>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    cdkFocusInitial
    (click)="addCategory(formGroup.value)"
    [disabled]="!formGroup.valid"
  >
    Add
  </button>
</form>
